.container {
  display: block;
  margin: 0 auto;
  text-align: center;
}
select {
  border: 0.5px solid grey;
}
.btn-success {
  border: 2px solid black;
  border-radius: 8px;
  background-color: #ffffff;

}
body {
  background-color: #ffffff;
}
.recipe {
  margin: 0px auto;
  text-align: center;
  padding-top: 50px;
}
img {
  max-width: 350px;
  height: auto;
}
a:visited {
  text-decoration: none;
  color: black;
}